<body>

<% @errors && @errors.each do |e|%>
    <li><%=e%></li>
<%end%>

<% @login = Unsplash::Photo.find("N5L9DDPk5xo")%>

<%= form_for :user do |f| %>
    <%=f.label "Username"%><br>
    <%= f.text_field :username %><br>
    <br>
    <%=f.label "Password"%><br>
    <%= f.password_field :password %><br>
    <br>
    <%=f.submit "Log In" %>
<%end%>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %> 


</body>

