<body>
<div class="sign-up-log-in">
<h1>Log In</h1>

<% @errors && @errors.each do |e|%>
    <li><%=e%></li>
<%end%>

<%= form_for :user do |f| %>
    <%=f.label "Username"%><br>
    <%= f.text_field :username %><br>
    <br>
    <%=f.label "Password"%><br>
    <%= f.password_field :password %><br>
    <br>
    <%=f.submit "Log In" %>
<%end%>
<br>
    <%= link_to('Log in with Facebook!', '/auth/facebook') %> 
</body>
</div>