<h1>Edit User</h1>

<%= form_for(@user) do |f| %>
    <%=f.label "Username"%><br>
    <%= f.text_field :username %><br>
    <br>
    <%=f.label "Password"%><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.submit %>
<% end %><br>

<%=button_to("Delete User", @user, method: :delete) %>