<h1>Hi there, <%=@user.first_name%></h1>
<h3>CAMP CLUB member since: <%=@user.created_at.strftime("%B %Y")%></h3>

<h2>Your Visited Campsites</h2>

<%@user.reviews.each do |r|%>
    <h3><%=link_to r.campsite.name, campsite_path%> | <%=link_to "See Review"%></h3>

<%end%>

<h2><%=link_to "Explore All Campsites", campsites_path%></h2>

<h2><%=link_to "Write a New Review", new_review_path%></h2>