<h1>Hi there, <%=@user.first_name%></h1>
<h3>CAMP CLUB member since: <%=@user.created_at.strftime("%B %Y")%></h3>

<h2>All your reviews:</h2>

<%@user.reviews.each do |r|%>
    <p><%=link_to r.campsite.name, campsite_path%>:</p>
        <li><%=r.review%></li>
        <li><%=r.rating%></li>
<%end%>

<h2><%=link_to "Explore All Campsites", campsites_path%></h2>