

<u><h1>All Reviews for <%=@campsite.name%></h1></u>

<%@reviews.each do |r|%>
    <p><li>Rating: <%= r.rating%></li>
    <li>Review: <%= r.review%></li>
    <li>Visited: <%= r.created_at.strftime("%B %Y")%></li>
    <li>Posted by: <%= link_to self.find_user(r), user_path(r.user_id) %></li></p>
    <%end%>