<h2>Write A New Campsite Review</h2>

<%= form_for @review do |f| %>

    <label>Rating (1-5)<label>
    <%= f.select :rating, ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']%><br><br>

    <label>Short Review<label><br>
    <%= f.text_area :review%><br>

     <label>Campsite ID<label><br>
    <%= f.text_field :campsite_id%><br>

     <label>User ID<label><br>
    <%= f.text_field :user_id%><br>

    <%= f.submit %>
<% end %>