<h2>Write A New Campsite Review</h2>

<%= form_for @review do |f| %>
    <%=f.label "Rating(1-5)"%>
    <%= f.select :rating, ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']%><br><br>

    <%=f.label "Review"%><br>
    <%= f.text_area :review%><br>

    <label>Campsite<label><br>
    <%= f.collection_select :campsite_id, @campsites, :id, :name  %><br>

    <label>User<label><br>
    <%= f.collection_select :user_id, @users, :id, :first_name  %><br>

    <%= f.submit %>
<% end %>