<h2>Write A New Campsite Review</h2>

<%if @campsite%>
    <h3><%=@campsite.name%></h3>
<%end%>

<%= form_for @review, url: form_url_helper(@campsite) do |f| %>
    <%=f.label "Rating(1-5)"%>
    <%= f.select :rating, ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']%><br><br>

    <%=f.label "Review"%><br>
    <%= f.text_area :review%><br>
    
    <%if !@campsite%>
        <label>Campsite<label><br>
        <%= f.collection_select :campsite_id, @campsites, :id, :name %><br>
    <%end%>

    <%= f.submit %>
<% end %>