<body>
    <h1>Edit Campsite</h1>

    <% @errors && @errors.each do |e|%>
        <li><%=e%></li>
    <%end%>

    <%= form_for @campsite do |f| %>

        <label>Name<label><br>
           <%= f.text_field :name%><br><br>

           <%= f.submit %>
    <% end %><br>

    <br><%=button_to("Delete Campsite", @campsite, method: :delete) %>
</body>