<h1>Explore Campsites</h1>

<h3>Search By State</h3>

<%=form_tag campsites_path, method: :get do %>
    <%=text_field_tag :state%>
    <%=submit_tag%>
<%end%>

<%@campsites.each do |c|%>
    <h3><li><%=link_to c.name, campsite_path(c)%> (<%=c.state%>)</li></h3>
<%end%>

<h2><%=link_to "Add a New Campsite", new_campsite_path%></h2>