<h1>New Campsite</h1>

<% @errors && @errors.each do |e|%>
    <li><%=e%></li>
<%end%>

<%= form_for @campsite do |f| %>

    <%=f.label "Name"%>
    <%=f.text_field :name%><br><br>

    <%=f.label "Address"%>
    <%=f.text_field :address%><br><br>

    <%=f.label "Bio"%>
    <%=f.text_area :bio%><br>
    <br>

    <%= f.submit %>

<% end %> 