<h1>New Campsite</h1>

<% @errors && @errors.each do |e|%>
    <li><%=e%></li>
<%end%>

<%= form_for @campsite do |f| %>

    <%=f.label "Name"%>
    <%=f.text_field :name%><br><br>

    <%=f.label "Address"%>
    <%=f.text_field :address%><br><br>

    <h3><%=f.label "Review"%></h3>
    <%=f.fields_for :reviews do |m|%>
        <%=m.label "Rating"%>
        <%=m.select :rating, ['1 Star', '2 Stars', '3 Stars', '4 Stars', '5 Stars']%><br><br>

        <%=m.label "Review"%><br>
        <%=m.text_area :review %><br>

        <%=m.label "User"%><br>
        <%=m.collection_select :user_id, User.all, :id, :username%><br>

    <%end%><br>
    <%= f.submit "Create New Campsite" %>

<% end %>