<h1><%=@campsite.name%></h1>
<p>Address: <%=@campsite.address%></p>
<p>Bio: <%=@campsite.bio%></p>

<h1> Reviews (<%=@campsite.reviews.count%>) </h1>

<%@campsite.reviews.each do |r|%>
    <p><li>Rating: <%= r.rating%></li>
    <li>Review: <%= r.review%></li>
    <li><%= r.created_at.strftime("%B %Y")%></li></p>
<%end%>

<h2><%=link_to "Write A Review", new_campsite_review_path(@campsite)%></h2>

<h2><%=link_to "See All Users", users_path%> </h2><br>