<body>
<div class="campsites">
<h1><%=@campsite.name%></h1>
<h2>State: <%=@campsite.state%></h2>

<u><h2>Campsite Amenities</h2></u>

<h3>Has Hookup RV? <%=@campsite.rv%></h3>

<h3>Has Bathrooms and Showers Nearby? <%=@campsite.bathroom%></h3>

<h3>Has Firewood For Sale? <%=@campsite.firewood%></h3>

<h3>Pet Friendly? <%=@campsite.pets%></h3>

<u><h2>Campsite Reviews (<%=@campsite.reviews.count%>) </h2></u>

<%@campsite.reviews.take(3).each do |r|%>
    <div class="reviews">
        <h3><%= self.find_user(r)%><br></h3>
        <%= self.star_rating(r)%> <%= r.created_at.strftime("%B %Y")%>
        <p><%= r.review%></p>
        <p>view <%= link_to self.find_user(r), user_path(r.user_id)%>'s profile</p>
    </div>
<%end%>

<h4><%=link_to "See All Reviews", campsite_reviews_path(@campsite)%> </h4>
<h4><%=link_to "Write A Review", new_campsite_review_path(@campsite)%></h4>

</body>