<!DOCTYPE html>
<html>
  <head>
    <%# <link rel="stylesheet" href="app/assets/stylesheets/application.css">  %>
    <title>Camp Club</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="bg-yellow-50 shadow-lg" >
    <div class="container mx-auto">
      <div class="sm:flex justify-around" >
      <%# site title %>
        <a href="#" class="text-black text-3xl">Camp Club</a>
        <%if current_user %>
        <ul class="text-black sm:self-center text-xl border-t sm:border-none">
          <li class="sm:inline-block"><%=link_to "All Campsites", campsites_path%></li>
          <li class="sm:inline-block"><%=link_to "New Campsite", new_campsite_path%></li>
          <li class="sm:inline-block"><%=link_to "My Profile", user_path(current_user.id)%></li>
          <li style="float:right"><%=button_to "Log Out", logout_path, method: :post %></li>
        </ul>
        <%else%>
        <ul class="text-black sm:self-center text-xl border-t sm:border-none flex space-x-7">
        
        <li class="sm:inline-block" ><%=link_to "Explore Campsites", campsites_path%></li>
        <li class="sm:inline-block"><%=link_to "Log In", login_path%></li>
        <li class="sm:inline-block"><%=link_to "Sign Up", signup_path%></li>
        </ul>
        <%end%>  
      <%= yield %>
      </div>
    </div>
  </nav>
  </body>
</html>
